{% extends "home.html" %}

{% block chatwidget %}
<div id="root"></div>
  <!-- <div id="fnWrap" class="fnWrap">
   <input id="headBar" type="button" onclick="closeChat()"/>
   <div id="chatWrapper" class="chatWrapper">
     <div id="contentWrapper">

     <div id="loginPage" class="loginPage">
      <input  id="usernameInput" class="userNameInput" autocomplete="off" placeholder="Please select a handle..." autofocus>
     </div>

     <div id="chatPage" class="hidden chatPage">
      <div id="messagewrapper">
       <ul id="messages"></ul>
      </div>

     </div>
     </div>
   </div>
   <form id="chat" class="hidden">
    <input id="chatMessage" autocomplete="off" placeholder="Write something...">
   </form>
  </div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script type="text/babel" src="js/chat.js"></script>
{% endblock %}
