/* Resets */

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/* https://coolors.co/52489c-4062bb-59c3c3-ebebeb-f45b69 */
.bg-1 {
  background-color: #52489c;
  color: #fff;
}
.bg-2 {
  background-color: #4062bb;
}
.bg-3 {
  background-color: #59c3c3;
}
.bg-4 {
  background-color: #ebebeb;
}
.bg-5 {
  background-color: #f45b69;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.ptb-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.flexible {
  flex: 1;
}

.fullheight {
  height: 100%;
}

.fat-button {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-block;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: .5px;
}

.fat-button:hover {
  background-color: #fff;
  color: #52489c;
}

.crew {
  display: flex;
}

.crew-member {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #eee;
  margin-bottom: 20px;
}

.crew-title {
  margin-bottom: 10px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    width: auto;
  }
}

@media (max-width: 767px) {
	.crew, .header {
		flex-direction: column;
		align-items: stretch;
	}
}

.title {
  font-size: 4em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

.subtitle {
  font-size: 2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 20px 0;
}

.section-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

.chat {

  border: solid 2px;

  max-width: 30%;
}

.copyright {
  font-weight: bold;
}


/*.bar {

  width: 100%;
  border: solid 2px;
  background-color: #0A2463;
  font-size: 20px;
  text-align:center;



}*/
